<div class="page">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">{{cb.title}}</h2>
        </div>
        <div class="col-md-12">
            <div class="row">
                <section class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3">
                                <form class="form-inline" role="form" name="cb.cryobankForm" ng-submit="cb.add()" novalidate>
                                    <md-input-container class="col-md-6">
                                        <label>Cryobank name</label>
                                        <input type="text" required class="form-control" name="name" ng-model="cb.cryobank.name">
                                    </md-input-container>
                                    <md-input-container class="col-md-6">
                                        <label>Cryobank VialId</label>
                                        <input type="text" required class="form-control" name="test2" ng-model="cb.cryobank.vialId">
                                    </md-input-container>
                                    <md-button type="submit" class="md-raised md-accent btn-w-md" ng-disabled="cb.cryobankForm.$invalid">Save</md-button>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <div class="panel panel-default icon-material col-md-8 col-md-offset-2">
                    <div class="panel-body">
                        <table class="table no-margin table-hover">
                            <thead>
                                <tr>
                                    <th>Cryobank Name</th>
                                    <th>Cryobank VailID</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cryobank in cb.cryobanks" ng-click="cb.select(cryobank)">
                                    <td>{{cryobank.name}}</td>
                                    <td>{{cryobank.vialId}}<md-button type="button" class="md-raised btn-w-md md-primary pull-right" ng-click="cb.remove($event, cryobank.id)" ng-show="cb.cryobanks.length">Delete</md-button></td>
                                    <td></td>
                                </tr>
                                
                            </tbody>
                        </table>
                       
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
