<header class="top-header clearfix">

    <!-- Logo -->
    <div class="logo bg-success">
        <a href="#">
            <span class="logo-icon"> <img src="../../../content/logo.jpg" height="" /> </span>
        </a>
    </div>

    <!-- needs to be put after logo to make it work -->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav" loader>
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#" data-toggle-nav-collapsed-min ui-wave class="toggle-min"><i class="imd imd-menu"></i></a>
            </li>
        </ul>

        <ul class="nav-right pull-right list-unstyled">

            <li class="dropdown text-normal nav-profile" dropdown>
                <a href="javascript:;" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled" ui-wave>
                    <i class="imd imd-settings"></i>
                    <span>{{$root.userDisplayName}}</span>
                </a>
                <ul class="dropdown-menu with-arrow pull-right scaleInRight animated">
                    <li><a href="#/"><i class="imd imd-home"></i><span>Dashboard</span></a></li>
                    <li><a href="#/pages/profile"><i class="imd imd-person"></i><span>Profile</span></a></li>
                    <li><a href="#" ng-click="hc.logout()"><i class="imd imd-forward"></i><span>Logout</span></a></li>
                </ul>
            </li>
        </ul>
    </div>

</header>
