<div class="page">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">{{sc.title}}</h2>
        </div>
        <div class="col-md-12">
            <div class="row">
                <section class="panel panel-default col-lg-6 col-lg-offset-3">
                    <div class="panel-body">
                        <form class="form-inline" role="form" name="sc.tankForm" ng-submit="sc.addTank()" novalidate>
                            <md-input-container class="col-md-3">
                                <label>Next letter</label>
                                <input type="text" ng-disabled="true" class="form-control" name="name" ng-model="sc.tankModel.name">
                            </md-input-container>
                            <md-input-container class="col-md-3">
                                <label>Canisters Count</label>
                                <input type="text" required mask="6" class="form-control" name="canistersCount" ng-model="sc.tankModel.canistersCount">
                            </md-input-container>
                            <md-input-container class="col-md-3">
                                <label>Canes Count</label>
                                <input type="text" required mask="999" class="form-control" name="canesCount" ng-model="sc.tankModel.canesCount">
                            </md-input-container>
                            <md-input-container class="col-md-3">
                                <label>Positions Count</label>
                                <input type="text" required mask="6" class="form-control" name="positionsCount" ng-model="sc.tankModel.positionsCount">
                            </md-input-container>
                            <md-button type="submit" class="md-raised md-accent btn-w-md" ng-disabled="sc.physicianForm.$invalid">Save Tank</md-button>
                        </form>

                    </div>
                </section>
            </div>
            <div class="row">
                <div class="panel panel-default icon-material col-md-8 col-md-offset-2">
                    <div class="panel-body">
                        <table class="table no-margin table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Canisters Count</th>
                                <th>Canes Count</th>
                                <th>Positions Count</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="tank in sc.tanks" ng-click="sc.editTank(tank)">
                                <td>{{tank.name}}</td>
                                <td>{{tank.canistersCount}}</td>
                                <td>{{tank.canesCount}}</td>
                                <td>{{tank.positionsCount}}</td>

                            </tr>

                            </tbody>
                        </table>
                        <md-button type="button" class="md-raised md-accent" ng-click="sc.remove('tank')" ng-show="sc.tanks.length">Remove Last Tank</md-button>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-md-12">
            <div class="row">
                <div class="card bg-white">
                    <div class="card-content">
                        <span class="card-title">Canisters</span>
                        <div>
                            <span ng-repeat="canister in sc.canisters">{{canister.name}}</span>
                        </div>
                        <md-button type="button" class="md-raised md-accent btn-w-md" ng-click="sc.addCanister()">Add Canister</md-button>
                        <md-button type="button" class="md-raised md-accent btn-w-md" ng-click="sc.remove('canister')" ng-show="sc.canisters.length">Remove Canister</md-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="card bg-white">
                    <div class="card-content">
                        <span class="card-title">Canes</span>
                        <div ng-repeat="(key, value) in sc.canes | groupBy:'name'">
                            <span ng-repeat="cane in value">{{cane.name}}-{{cane.color}} </span>
                        </div>

                        <md-button type="button" class="md-raised md-accent btn-w-md" ng-click="sc.addCane()">Add Cane</md-button>
                        <md-button type="button" class="md-raised md-accent btn-w-md" ng-click="sc.removeCane()" ng-show="sc.canes.length">Remove Cane</md-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="card bg-white">
                    <div class="card-content">
                        <span class="card-title">Positions</span>
                        <div>
                            <span ng-repeat="position in sc.positions">{{position.name}}</span>
                        </div>
                        <md-button type="button" class="md-raised md-accent btn-w-md" ng-click="sc.addPosition()">Add Position</md-button>
                        <md-button type="button" class="md-raised md-accent btn-w-md" ng-click="sc.remove('position')" ng-show="sc.positions.length">Remove Position</md-button>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
