<md-dialog aria-label="Extract Samples" flow-init
           flow-files-submitted="upload($event, $files)"
           flow-file-added="!!{pdf:1}[$file.getExtension()]"
           flow-drop>
    <form name="extractForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Extract Samples</h2>
            </div>
        </md-toolbar>
        <md-dialog-content class="row">
            <div class="col-md-12">
                <label for="reason">Select reason for extraction</label>
                <md-select required ng-model="model.reason" name="reason" id="reason" placeholder="Reasons" class="col-md-12">
                    <md-option ng-repeat="reason in reasons track by reason.id" value="{{reason.id}}">{{reason.name}}</md-option>
                </md-select>
            </div>
            <md-input-container class="col-md-12">
                <md-button class="md-primary" flow-btn>
                    Upload Consent Form
                </md-button>
                <md-progress-linear ng-style="{opacity : showProgress ? '1' : '0'}" md-mode="indeterminate"></md-progress-linear>
                <p>You can upload only PDF file</p>
                <p ng-if="uploadedFile"> You uploaded "{{uploadedFile}}"</p>
            </md-input-container>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="extract()" ng-disabled="extractForm.$invalid" class="md-primary">
                Extract
            </md-button>
            <md-button ng-click="cancel()" class="md-primary">
                Cancel
            </md-button>
        </div>
    </form>
</md-dialog>