<div class="page">
    <div class="row ui-section">
        <div class="col-md-12 clearfix">
            <h2 class="section-header">{{slc.title}}</h2>
            <div class="row well-lg" ng-if="!isReportGenerator()">
                <div class="pull-right">
                    <md-button type="button" class="md-raised md-primary btn-w-md" ng-disabled="!slc.isRowSelected()" ng-click="slc.printSample()">
                        <i class="fa fa-print"></i> Print Receipt
                    </md-button>
                    <md-button type="button" class="md-raised md-primary btn-w-md" ng-disabled="!slc.isRowSelected()" ng-click="slc.editSample()">Edit Sample</md-button>
                    <md-button type="button" class="md-raised md-primary btn-w-md" ng-click="slc.newSample()">Add Sample</md-button>
                    <md-button type="button" class="md-raised md-primary btn-w-md" ng-disabled="!slc.isSubRowsSelected" ng-click="slc.extract()">Extract</md-button>
                </div>
            </div>
        </div>
        <div class="col-md-12 clearfix">
            <div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-auto-resize ui-grid-cellnav ui-grid-pinning ui-grid-expandable></div>
        </div>
    </div>
</div>
<div class="row" app-print ng-show="false">
    <div sample-print="sample"></div>
</div>