<div class="page">
    <div class="row ui-section">
        <div class="col-md-12 clearfix">
            <h2 class="section-header">{{slc.title}}</h2>
            <div class="pull-right">
                <md-button type="button" class="md-raised md-primary btn-w-md" ng-disabled="!slc.isRowSelected()" ng-click="slc.editSample()">Edit Sample</md-button>
                <md-button type="button" class="md-raised md-primary btn-w-md" ng-click="slc.newSample()">Add Sample</md-button>
                <md-button type="button" class="md-raised md-primary btn-w-md" ng-disabled="!slc.isRowsSelected()" ng-click="slc.extract($event)">Extract</md-button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card bg-white">
                <div class="card-content">
                    <div class="col-md-12 clearfix">
                        <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter ui-grid-auto-resize></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
