<div class="page-signin">

    <div class="signin-header">
        <section class="logo text-center">
            <h1><a href="/">{{brand}}</a></h1>
        </section>
    </div>

    <div class="wrapper">
        <div class="main-body">
            <div class="card bg-white" ng-show="!lc.isPasswordReseting">
                <div class="card-content">
                    <form name="lc.loginForm" class="form-horizontal form-validation" ng-submit="lc.loginForm.$valid && lc.login()" novalidate>
                        <fieldset>
                            <md-input-container>
                                <label for="username">{{lc.loginField.username.title}}</label>
                                <input type="text" required class="form-control" id="username" name="username" ng-model="lc.userModel.username">
                                <div ng-messages="lc.loginForm.username.$error">
                                    <div ng-show="lc.loginForm.$submitted || lc.loginForm.username.$touched">
                                        <div ng-message="required">{{lc.loginField.username.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label for="password">{{lc.loginField.password.title}}</label>
                                <input type="password" required class="form-control" id="password" ng-minlength="{{lc.loginField.password.minLength}}" name="password" ng-model="lc.userModel.password">
                                <div ng-messages="lc.loginForm.password.$error">
                                    <div ng-show="lc.loginForm.$submitted || lc.loginForm.password.$touched">
                                        <div ng-message="required">{{lc.loginField.password.message.required}}</div>
                                    </div>
                                    <div ng-message="minlength">{{lc.loginField.password.message.minlength}}</div>
                                </div>
                            </md-input-container>
                            <div class="divider"></div>
                            <div class="form-group">
                                <a href="#" class="text-muted text-small" ng-click="lc.toogleResetForm()">Forgot your password?</a>
                            </div>
                        </fieldset>
                        <input type="submit" ng-show="false" />
                    </form>
                </div>
                <div class="card-action no-border text-right">
                    <a href="#" class="color-primary" ng-click="lc.login()" ng-disabled="lc.loginForm.$invalid">Sign in</a>
                </div>
            </div>
            <div class="card bg-white" ng-show="lc.isPasswordReseting">
                <div class="card-content">
                    <form name="lc.resetForm" ng-submit="lc.resetForm.$valid && lc.reset()" novalidate>
                        <fieldset>
                            <div class="form-group">
                                <div class="ui-input-group">
                                    <input type="text" name="username" required class="form-control" ng-model="lc.resetModel.username">
                                    <span class="input-bar"></span>
                                    <label>Email</label>
                                </div>
                                <div class="additional-info text-center text-small">
                                    Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.
                                </div>
                            </div>
                        </fieldset>
                        <input type="submit" ng-show="false" />
                    </form>
                </div>
                <div class="card-action no-border text-right">
                    <a href="#" ng-click="lc.toogleResetForm()">Login</a>
                    <a href="#" class="color-primary" ng-click="lc.reset()" ng-disabled="lc.resetForm.$invalid">Reset</a>
                </div>
            </div>
        </div>

    </div>

</div>