.app > .header-container.header-fixed {
    top: 0;
}


.error.location-error {
    color: rgb(244,67,54);
}

.no-margin-top {
    margin-top: 7px !important;
}

#content {
    height: calc(100vh - 70px);
}

md-dialog {
    width: 600px;
}

.comment-padding {
    padding-top: 15px;
    padding-bottom: 14px;
}

.location-method-padding {
    padding-top: 15px;
}

.margin-top-5 {
    margin-top: 5px;
}