.app > .header-container.header-fixed {
    top: 0;
}


.error.location-error {
    color: rgb(244,67,54);
}

.no-margin-top {
    margin-top: 9px !important;
}

#content {
    height: calc(100vh - 70px);
}

md-dialog {
    width: 400px;
}